<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>

<body>
    <!-- join existing rooms -->
    <div id = "room-container">
        <% Object.keys(rooms).map(room => { %>
            <div> <%= room %> </div>
            <a href = "/<%=room%>"> Join Room </a>
        <% }) %>
    </div>

    <!-- form to create new rooms -->
    <form action = "/room" method = "POST">
       <input name = "room" type= "text" required>
       <button type = "submit"> Create New Room </button>  
    </form>
    
</body>


</html>